.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: $white200;
  padding: 56px 40px;
  border-radius: 8px;

  max-width: 464px;
  width: 100%;
}
.form-field {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-field > *:nth-child(n) {
  max-width: none;
}

.input-btn,
.input-btn-repeat {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.input-btn > svg > g,
.input-btn-repeat > svg > g {
  stroke: $grayMain;
}

.form-field:has(.input-password:hover) .input-btn > svg > g {
  stroke: $whiteMain;
}
.form-field:has(.input-password:active) .input-btn > svg > g {
  stroke: $whiteMain;
}
.form-field:has(.input-password:not(:placeholder-shown)) .input-btn > svg > g {
  stroke: $whiteMain;
}
.form-field:has(.input-password:disabled) .input-btn > svg > g {
  stroke: $black400;
}

.form-field:has(.input-password-repeat:hover) .input-btn-repeat > svg > g {
  stroke: $whiteMain;
}
.form-field:has(.input-password-repeat:active) .input-btn-repeat > svg > g {
  stroke: $whiteMain;
}
.form-field:has(.input-password-repeat:not(:placeholder-shown))
  .input-btn-repeat
  > svg
  > g {
  stroke: $whiteMain;
}
.form-field:has(.input-password-repeat:disabled) .input-btn-repeat > svg > g {
  stroke: $black400;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cancel-btn {
  max-width: 121px;
}

.save-btn {
  max-width: 148px;
}
