.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form-field {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-field > *:nth-child(n) {
  max-width: none;
}

.field-text {
  color: $whiteMain;
  font: $fontP2;
  text-align: center;
  margin-bottom: 8px;
}

.form-bottom {
  display: flex;
  align-items: center;
  justify-items: center;
}
.form-bottom > p {
  margin-left: auto;
  color: $whiteMain;
  font: $fontP3;
  text-wrap: nowrap;
}
.form-login-btn {
  margin-right: auto;
  max-width: 75px;
}
