//white

$whiteMain: rgba(255, 255, 255, 1);
$white600: rgba(255, 255, 255, 0.8);
$white500: rgba(255, 255, 255, 0.6);
$white400: rgba(255, 255, 255, 0.4);
$white300: rgba(255, 255, 255, 0.12);
$white200: rgba(255, 255, 255, 0.08);
$white100: rgba(255, 255, 255, 0.04);

//Black

$blackMain: rgba(11, 10, 10, 1);
$black600: rgba(0, 0, 0, 0.8);
$black500: rgba(0, 0, 0, 0.6);
$black400: rgba(0, 0, 0, 0.4);
$black300: rgba(0, 0, 0, 0.12);

//Acid

$primaryMain: rgba(178, 244, 70, 1);
$primary800: rgba(150, 231, 12, 1);
$primary700: rgba(157, 254, 0, 1);
$primary600: rgba(169, 242, 51, 0.8);
$primary500: rgba(169, 242, 51, 0.6);

//Acid-secondary

$secondaryMain: rgba(235, 255, 204, 1);
$secondary800: rgba(217, 251, 164, 1);
$secondary700: rgba(239, 254, 217, 1);
$secondary600: rgba(235, 255, 204, 0.8);

//Red

$errorMain: rgba(233, 49, 30, 1);
$error600: rgba(239, 38, 17, 0.8);

//Green

$successMain: rgba(21, 226, 17, 1);
$success600: rgba(21, 226, 17, 0.8);

//Orange

$warningMain: rgba(235, 154, 34, 1);
$warning600: rgba(235, 154, 34, 0.8);

//Gray

$grayMain: rgba(142, 137, 137, 1);
$graySecond: rgba(65, 65, 65, 1);
